.about-us {
    background-color: $color-light-second;
    color: $color-dark-second;
}

.about-us__section {
    padding: 59px 40px;
    margin-bottom: 10px;
}

.about-us-description__header {
    font-size: 3.0rem;
    margin: 0 0 18px;
    font-weight: 800;
}
.about-us-description__text {
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: $color-dark-three;
    font-weight: 300;
}

.about-us__description {
    padding-bottom: 27px;
}
.about-us_shadow {
    height: 4px;
    background-color: $color-light;
}

//empolyee
.empolyee__name {
    margin:10px 0 9px;
    letter-spacing: -0.05rem;
}
.employee__description {
    font-size: 1.2rem;
    line-height: 2.0rem;
    letter-spacing: 0.05rem;
    margin-top: 0;
    height: 50px;
}
.employee__contacts {
    display: flex;
    >*{
        margin-right: 9px;
    }
}

.employee__icon:hover {
    border-color: $color-dark;
    background-color: darken($color: $color-light-second, $amount: 20%);
    cursor: pointer;  
}