.footer {
    background-color: $color-dark;
    color: $color-dark-second;
}

.footer-context {
    display: flex;
    justify-content: space-between;
    padding: 21px 42px 22px 37px;
}

.copyright {
    padding: 3px 0 0 3px;
}

.copyright__text {
    font-size: 1.2rem;
}