.portfolio {
    background-color: $color-dark;
    color: $color-dark-second;
    border-bottom: 6px solid $color-shadow;
}

.portfolio__section {
    padding: 60px 38px 57px 38px;
}

.portfolio-description__header {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 22px;
    letter-spacing: -0.02rem;
}
.portfolio-description__text {
    margin-bottom: 16px;
}