.quote {
    background-color: $color-additional;
    color: $color-light-four;
}

.quote__section {
    padding: 59px 40px 13px 40px;
}

.quote__header {
    font-size: 3rem;
    font-weight: 700;
}

.quote__text {
    margin: 18px 0 20px;
    font-size: 1.7rem;
    line-height: 3rem;
}

.quote-description {
    margin-bottom: 35px;
}

.quote__shadow {
    height: 6px;
    background-color: $color-shadow-second;
}