html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", "Open Sans", Verdana, Arial, sans-serif;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #2d303a;
}

.header__wrapper {
  height: 85px;
}

.header__navigation {
  padding-right: 16px;
  padding-top: 6px;
}

.header__logo {
  padding-left: 40px;
  padding-top: 29px;
}

.header_shadow {
  height: 10px;
  background-color: #323746;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
}

.layout-3-columns > * {
  width: 33%;
}

.visual__content {
  height: 600px;
  background-color: #f06c64;
}

.visual__content__wrapper {
  align-items: center;
  padding: 52px 45px;
}

.navigation__icon {
  background: url("assets/icons/chev.png") no-repeat;
  opacity: 0.25;
  width: 18px;
  height: 28px;
  margin-top: 25px;
}

.navigation_right {
  transform: scaleX(-1);
}

.navigation__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.phone__base {
  border-radius: 28px;
  z-index: 5;
}

.phone__screen {
  z-index: 3;
}

.vertical__phone {
  position: relative;
  left: -107px;
}

.vertical__phone__base {
  box-shadow: 26px 26px 0px rgba(0, 0, 0, 0.2);
}

.vertical__phone__screen {
  background: url("assets/images/screen2.jpg") no-repeat;
  width: 188px;
  height: 333px;
  position: absolute;
  left: 14px;
  top: 65px;
  background-position: -14px -133px;
}

.horizontal__phone {
  position: relative;
  left: -44px;
}

.horizontal__phone__base {
  transform: rotate(90deg);
  box-shadow: 26px -26px 0px rgba(0, 0, 0, 0.2);
}

.horizontal__phone__screen {
  background: url("assets/images/screen1.jpg") no-repeat;
  width: 333px;
  height: 188px;
  position: absolute;
  left: -61px;
  top: 135px;
  background-position: -125px -118px;
}

.visual_content_shadow {
  height: 10px;
  background-color: #ea676b;
}

.visual_content_form {
  height: 590px;
}

.our__services {
  background-color: #f2f2f2;
}

.services {
  margin-top: 15px;
}

.services__wrapper > * {
  margin: 0 12px 0 40px;
}

.services__description__layout {
  padding-top: 60px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.services__header {
  font-size: 3rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

.services__description {
  line-height: 3rem;
}

.service {
  display: flex;
  margin-top: 15px;
}

.icon_custom-disign {
  background-image: url("assets/icons/pen.png");
}

.icon_inovative-ideas {
  background-image: url("assets/icons/bulb.png");
}

.icon_love-is-answer {
  background-image: url("assets/icons/heart.png");
}

.icon_responsive-layout {
  background-image: url("assets/icons/phone.png");
}

.icon_round-lock-support {
  background-image: url("assets/icons/bubble.png");
}

.ico_feel-like-star {
  background-image: url("assets/icons/star.png");
}

.icon-circle {
  border: solid 2px #2d303a;
  border-radius: 50%;
  min-width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
}

.service__description > h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.service__description {
  margin-left: 20px;
  margin-right: 15px;
}

.services_shadow {
  height: 10px;
  background-color: #ffffff;
}

.service__description > p {
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.logo_text {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: -0.05rem;
}

.logo_copyright {
  color: #f06c64;
  font-size: 2.5rem;
}

.logo__link {
  display: flex;
  text-decoration: none;
}

.navigation__link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 20px 27px 20px 2px;
}

.navigation .navigation__link:first-child {
  list-style: none;
  color: #f06c64;
}

.navigation__link:hover {
  color: #f06c64;
  cursor: pointer;
}

/*# sourceMappingURL=singolo1.css.map */
