
.navigation-link {
    color: $color-light;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 20px 0px 20px 29px;
}

.navigation .navigation-link:first-child {
    list-style: none;
}

.navigation-link {
    color: $color-light;
}

.navigation-link__text:hover {
    color: $color-additional;
    cursor: pointer;
}

.navigation-link_active {
    color: $color-additional;
}