

.service {
    display: flex;
    margin-top: 15px;
}


.service__description {
    margin-left: 20px;
    margin-right: 15px;
}

.service__description > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.service__description > p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
 }