$color-light: #ffffff;
$color-light-second: #f2f2f2;
$color-light-three: #dedede;
$color-light-four: #f0d8d9;
$color-dark: #2d303a;
$color-dark-second: #666d89;
$color-dark-three: #767e9e;
$color-additional: #f06c64;
$color-additional-darker: #d6564f;
$color-additional-lighter: #f48c8f;
$color-shadow: #323746;
$color-shadow-second: #ea676b;
$color-shadow-three: #ffffff;

$font: 'Lato', 'Open Sans', Verdana, Arial, sans-serif;