$color-light: #ffffff;
$color-light-second: #f2f2f2;
$color-light-three: #dedede;
$color-light-four: #f0d8d9;
$color-dark: #2d303a;
$color-dark-second: #666d89;
$color-dark-three: #767e9e;
$color-dark-black: #000000;
$color-additional: #f06c64;
$color-additional-darker: #d6564f;
$color-additional-lighter: #f48c8f;
$color-another: #648bf0;
$color-another-darker: #3057bb;
$color-shadow: #313745;
$color-shadow-second: #ea676b;
$color-shadow-three: #ffffff;
$color-overlay: rgba(80,80,80,0.4);

$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px;

$tablet-width-max: 1019px;
$mobile-width-max: 767px;
$mobile-small-width-max: 374px;

$font: 'Lato', 'Open Sans', Verdana, Arial, sans-serif;