@mixin limit-lines($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin limit-line {    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}