.hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: 20px;
    @include media-mobile {
        display: inline-block;
    }
    &_opened {
        transform: rotate(90deg);
        margin: 6px 17px;
    }
}

.header__hamburger {
    margin-left: 17px;
}

.hamburger__line {
    top: calc( 50% - 1.5px);
    left: 0;
}

.hamburger:before, .hamburger:after, .hamburger__line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-light;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}
.hamburger:before {
    top: 1px;
    left: 0;
}
.hamburger:after {
    bottom: 0;
    left: 0;
}