.logo__text {
    color: $color-light;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.01em;
}

.logo__footnote {
    color: $color-additional;
    font-size: 2.5rem;
}

.logo__link {
    display: flex;
    text-decoration: none;
}