@include media-mobile {
    .navigation-mobile {
        transition: all 0.7s ease-out;
    }

    .navigation-mobile > .layout {
        position: fixed;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: $color-dark;
        box-shadow: 10px -10px 0px rgba(0,0,0,0.2);
    }

    .navigation-mobile-list {
        flex-direction: column;
        list-style-type: none;
        margin-top: 100px;
    }

    .navigation-mobile-list > .navigation-link {
        margin: 15px;
    }

    .navigation-mobile-list > .navigation-link > .navigation-link__text {
        font-size: 2.4rem;
    }

    .navigation-mobile__header {
        display: flex;
        margin-top: 15px;
    }
    
    nav.navigation-mobile_hidden {
      visibility: hidden;
      opacity: 0;
    }
}