//Phone
.phone__base {
    border-radius: 28px;
    z-index: 3;
}

.phone__screen {
    z-index: 5;
}

.vertical-phone {
    position: relative;
    left: -107px;
}

//Vertical phone
.vertical-phone__base {    
    box-shadow: 26px 26px 0px rgba(0,0,0,0.2);
}

.vertical-phone__screen {
    width: 188px;
    height: 333px;
    position: absolute;
    left: 14px;
    top: 65px;
    background-position: -11px -134px;
}

//Horizontal phone
.horizontal-phone {    
    position: relative;
    left: -44px;
}
.horizontal-phone__base {
    transform: rotate(90deg);
    box-shadow: 26px -26px 0px rgba(0,0,0,0.2);
}

.horizontal-phone__screen {
    width: 334px;
    height: 189px;
    position: absolute;
    left: -59px;
    top: 135px;
    background-position: -125px -118px;
}

.phone__screen-1 {
    background: url("src/assets/images/screen1.jpg") no-repeat;
}

.phone__screen-2 {
    background: url("src/assets/images/screen2.jpg") no-repeat;
}

.phone__screen-off {
    display: none;
}