.slide_first {
    padding: 54px 0 56px 0;
}
.slide__second {
    background: url('./src/assets/images/slide2.png') center no-repeat;
    height: 100%;
    width: 100%;
}
.slide_hidden {
    display: none;
}