.slide {    
    margin: 0 40px 0 45px;
    align-items: center;
    position: absolute;
    width: calc(100% - 85px);
    animation: 3.5s ease-in-out;
    @include media-mobile {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}
.slide__first {
    padding: 29px 0 56px 0;
    @include media-mobile {
        padding: 0;
    }
}
.slide__second {
    background: url('./src/assets/images/slide2.png') center no-repeat;
    height: 100%;
    background-size: 120%;
    @include media-mobile {
        width: calc(100% - 40px);
    }
}
.slide_hidden {
    display: none;
}
.slide-is-moving {
    pointer-events: none;
}
.slide-move-center-to-left {
    animation-name: centertoleft;
}
.slide-move-right-to-center {
    animation-name: righttocenter;
}
.slide-move-center-to-right {
    animation-name: centertoright;
}
.slide-move-left-to-center {
    animation-name: lefttocenter;
}
@keyframes centertoleft {
    from {left: 0;}
    to {left: -100%;}
  }
@keyframes righttocenter {
    from {left: 100%;}
    to {left: 0;}
  }
@keyframes centertoright {
    from {left: 0;}
    to {left: 100%;}
  }
@keyframes lefttocenter {
    from {left: -100%;}
    to {left: 0;}
  }