.footer {
    background-color: $color-dark;
    color: $color-dark-second;
}

.footer-context {
    display: flex;
    justify-content: space-between;
    padding: 22px 39px 22px 37px;
    @include media-mobile {
        padding: 22px 0 22px 0;
        justify-content: center;
    }
}

.copyright {
    padding: 5px 0 0 7px;
    @include media-mobile {
        display: none;
    }
}

.copyright__text {
    font-size: 1.2rem;
}