.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: $color-dark;
    border-bottom: 6px solid $color-shadow;
}

.header__mobile {
    display: flex;
    align-items: center;
}

.header-content {
    height: 54px;
    width: calc(100% - 79px);
    padding-bottom: 21px;
    margin: 0 38px 0 41px;
    align-items: center;
    transition: all 0.3s ease-out;
    @include media-mobile {
        justify-content: center;
        padding: 0;
        width: calc(100% - 38px);
    }
}
.header-content_small {
    height: 40px;
    padding-bottom: 0;
}

.header-navigation {    
    margin-top: 15px;
}