.header {
    background-color: #2d303a;
    border-bottom: 6px solid $color-shadow;
  }
  
.header-content {
    height: 89px;
    margin: 0 38px 0 41px;
    align-items: center;
}

.header-navigation {    
    margin-top: 12px;
}