.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    min-width: 1020px;
    background-color: #2d303a;
    border-bottom: 6px solid $color-shadow;
  }

.header-content {
    height: 54px;
    padding-bottom: 21px;
    margin: 0 38px 0 41px;
    align-items: center;
    transition: all 0.3s ease-out;
}
.header-content_small {
    height: 40px;
    padding-bottom: 0;
}

.header-navigation {    
    margin-top: 15px;
}