.our-services {    
    background-color: $color-light-second;
    border-bottom: 6px solid $color-shadow-three;
}

.services-content {
    padding: 59px 40px 61px 40px;
    @include media-mobile {
        padding: 30px;
    }
}

.services-description {
    margin-bottom: 14px;
}

.services-description__header {
    font-size: 3rem;
    letter-spacing: 0.02rem;
    margin-bottom: 18px;
    font-weight: 700;
    color: $color-dark-second;
}

.services-description__text {    
    line-height: 3rem;
    text-align: justify;
    color: $color-dark-three;
}