.quote {
    background-color: $color-additional;
    color: $color-light-four;
    border-bottom: 6px solid $color-shadow-second;
}

.quote__section {
    padding: 59px 40px 17px 38px;
}

.quote__header {
    font-size: 3rem;
    font-weight: 700;
}

.quote__text {
    margin: 18px 0 20px;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: justify;
}

.quote-description {
    margin-bottom: 35px;
    margin-left: 3px;
}