.visual {
    height: 594px;
    background-color: $color-additional;
    border-bottom: 6px solid $color-shadow-second;
    padding-top: 95px;
}

.visual-content {
    align-items: center;
    padding: 52px 40px 52px 42px;
}

.navigation__icon {
    background: url("src/assets/icons/chev.png") no-repeat;
    opacity: 0.25;
    width: 18px;
    height: 28px;
    margin-top: 25px;
}

.navigation__icon_right {
    transform: scaleX(-1)
}

.navigation__icon:hover {
    opacity: 0.5;
    @extend %transition;
}